{% extends "object.twig" %}

{% block objectContent %}
<div style="border: 1px solid black; padding: 20px; margin: 10px">
<img src="{{ image }}" style="width: 200px; border-radius: 5%; border: 1px solid black object-fit: cover; padding: 8px" alt="">
</div>
{% endblock %}